body {
    font-family: Georgia;
}

#baner {
    background-color: #005B4F;
    color: white;
    text-align: center;
    font-size: 50%;
    height: 20px;
}

#glowny {
    background-color: #E1E2E1;
    height: 400px;
    padding: 20px;
    overflow: scroll;
}

.zdjecie {
    width: 20%;
}

.opis {
    /* idk */
}

.linia {
    /* idk */
}

#lewy, #prawy {
    background-color: #005B4F;
    color: white;
    text-align: center;
    width: 50%;
    height: 20px;
    float: left;
}

img {
    padding: 20px;
    border: 100%;
}

h2 {
    text-align: center;
    background-color: #00897B;
}

a {
    color: white;
}